@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --font: "Montserrat", sans-serif;
    --darkblue: #2A324B;
    --blue: #58699D;
    --lightgrey: #E1E5EE;
    --white: #fff;
}

h2, h3, h1{
    color: var(--darkblue)
}

body{
    font-family: var(--font);
    background-color: var(--lightgrey);
    justify-content: center;

    /*Navigasjonsbaren:*/
    nav{
        margin: 0 auto;
        max-width: 2000px;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
            margin: 3rem 0 0 0;

            li{
                background-color: var(--darkblue);
                color: var(--white);
                padding: 1.3rem 3rem;
                margin: 0.5rem 0.5rem 0 0.5rem;
                cursor: pointer;
                font-weight: 700;

                a{
                    color: var(--white);
                }
            }
        }
    }

    /*Main-området:*/
    main{
        display: flex;
        justify-content: flex-start;
        justify-self: center;
        flex-wrap: wrap;
        max-width: 1500px;
        background-color: var(--white);
        height: fit-content;
        padding: 2rem;
        margin: 0 auto;

        h2{
            width: 100%;
        }

        ul{
            li{
                width: 100%;
                color: var(--b)
            }
        }
    }
}
  
  
  